{% extends 'base.html' %}
{% load static %}

{% block title %}
Объявление продажи Asus Laptop
{% endblock %}

{% block active_1 %}active{% endblock %}

{% block content %}

<div class="container" style="margin: 50px;">
  <div class="display-4">
    <nav class="badge bg-primary">Объявление пользователя:</nav>
      <p></p>
    <nav class="badge bg-primary">Школьник майнер</nav>
  </div>
</div>
<div class="col offset-2">
  <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href="#" class="nav-link">

          <div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/asus1.png' %}" class="img-fluid rounded-start" alt="Card title">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/asus2.png' %}" class="img-fluid rounded-start" alt="Card title">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>

        </a>
      </div>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title">
            <a href="#" class="nav-link"><strong>Ноутбук ASUS ROG Strix</strong></a>
          </h5>
          <p class="card-text">
            <h6>
              Ноутбук ASUS ROG Strix G15 G513RW-HQ177.
            </h6>
                Оборудован 15.6-дюймовым экраном с технологией Adaptive-Sync.
                Она выступает гарантом плавной смены кадров во время динамичных игровых сессий.
                Разрешение Quad HD 2K обеспечивает детализацию мельчайших элементов. Матовое покрытие преломляет
                солнечные блики и сохраняет насыщенность оттенков. WhisperMode 2.0 снижает уровень производимого
                шума при подключении устройства к источнику питания.
                Основу ноутбука ASUS ROG Strix G15 G513RW-HQ177 составил 8-ядерный процессор AMD Ryzen 9 6900HX и
                оперативная память объемом 32 ГБ. Подобная вычислительная мощность способствует ускорению загрузки
                приложений и не допускает промедлений в процессе навигации между окнами. Дискретная видеокарта
                GeForce RTX 3070 Ti несет ответственность за высокое качество графики.
                Интерфейс Bluetooth 5.2 используется при синхронизации периферии.
          </p>
          <h6 class="card-title">
            <a href="https://www.ejin.ru/wp-content/uploads/2017/09/5-1630.jpg" class="nav-link"><strong>Контактные данные</strong></a>
          </h6>
          <span>Автор: "Школьник Майнер"</span>
          <p class="card-text"><small class="text-muted">Размещено: "02.08.2023"</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="#">Добавьте</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#" aria-current="page">сюда<span
              class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">что</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Ссылки</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="https://t.me/PIIZDEEC">Telegram</a>
            <a class="dropdown-item" href="https://github.com/LebedevSergeyV">GitHub</a>
            <a class="dropdown-item" href="https://github.com/LebedevSergeyV/Django">Repositories</a>
            <a class="dropdown-item" href="{% url 'fake' %}">Fake</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
