.idea/
/info.txt
*.DS_Store
__pycache__/
venv/
.env
advertisements/advertisements/secrets_settings.py
/secrets_settings.py
advertisements/parser.py
advertisements/templates/times.html
advertisements/secrets_settings.py
