# System folders
*.idea/
.idea/
1.idea/
*.__pycache__/
__pycache__/
*/__pycache__
venv/
*.DS_Store
*.advertisements/advertisements/__pycache__/
*.advertisements/app_advertisements/__pycache__/
*.advertisements/app_advertisements/migrations/__pycache__/

# Django Project Keys
advertisements/advertisements/secrets.py
advertisements/secrets.py
.env

# Additional files
advertisements/parser.py
advertisements/templates/time.html

# Database
advertisements/db.sqlite3
advertisements/media/advertisements

# Instructions
