{% extends 'basewinproduct.html' %}
{% load static %}

{% block title %}
КИРИЛЛ ИДИ НАХУЙ
{% endblock %}

{% block active_1 %}active{% endblock %}

{% block content %}

<p></p>


<div class="container overflow-hidden text-center">
    <div class="d-grid gap-5 col-8 mx-auto">
        <a href="https://www.youtube.com/watch?v=2b5HgctysDg">
            <div class="display-auto">
                <img src="{% static 'img/Kirill_go_fuck_yourself/Kirill-go-fuck-yourself.jpg' %}" class="img-fluid rounded-start" alt="Card title">
            </div>
            <p></p>

            <button class="btn btn-primary btn-outline-dark text-light" type="button">КИРИЛЛ, ИДИ НАХУЙ )))</button>
        </a>

        <a href="https://www.youtube.com/watch?v=2b5HgctysDg">
            <div class="display-auto">
                <img src="{% static 'img/Kirill_go_fuck_yourself/Kirill-go-fuck-yourself-2.jpg' %}" class="img-fluid rounded-start" alt="Card title">
            </div>
            <p></p>

            <button class="btn btn-primary btn-outline-dark text-light" type="button">КИРИЛЛ, ИДИ НАХУЙ )))</button>
        </a>

        <a href="https://www.youtube.com/watch?v=2b5HgctysDg">
            <div class="display-auto">
                <img src="{% static 'img/Kirill_go_fuck_yourself/Kirill-go-fuck-yourself-3.jpg' %}" class="img-fluid rounded-start" alt="Card title">
            </div>
            <p></p>

            <button class="btn btn-primary btn-outline-dark text-light" type="button">КИРИЛЛ, ИДИ НАХУЙ )))</button>
        </a>

        <a href="https://www.youtube.com/watch?v=2b5HgctysDg">
            <div class="display-auto">
                <img src="{% static 'img/Kirill_go_fuck_yourself/honey.jpg' %}" class="img-fluid rounded-start" alt="Card title">
            </div>
            <p></p>

            <button class="btn btn-primary btn-outline-dark text-light" type="button">КИРИЛЛ, ИДИ НАХУЙ )))</button>
        </a>

        <a href="{% url 'main-page' %}">
            <div class="display-auto">
                <img src="{% static 'img/Kirill_go_fuck_yourself/Kirill-go-fuck-yourself-main.png' %}" class="img-fluid rounded-start" alt="Card title">
            </div>
            <p></p>

            <button class="btn btn-primary btn-outline-dark text-light" type="button">MAIN PAGE</button>
        </a>
    </div>
</div>

<p></p>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
