{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить объявление
{% endblock %}

{% block content %}

<ul class="nav nav-pills sticky-top bg-white nav-fill">

  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'main-page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'top-sellers' %}">
      <span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'advertisement-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
</ul>

  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>
  <div class="container">
    <form method="post">
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Title</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Description</label>
          <div class="col-sm-4 offset-4 w-25">
              <label for="" class="form-label"></label>
              <textarea class="form-control" name="" id="" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Photo</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="file" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Price</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="offset-4 w-25">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Auction</label>
          </div>
        </div>
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

{% endblock %}
