<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/fontello.css">
  <title>Advertisement</title>
</head>

<body>
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="top-sellers.html"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="advertisement-post.html">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="register.html">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  </ul>

  <div class="container" style="margin: 50px;">
    <div class="display-2">
      <span class="badge bg-primary">Объявление пользователя "username"</span>
    </div>
  </div>
  <div class="col offset-2">
    <div class="card mb-2" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-4">
          <a href="#" class="nav-link">
            <img src="../static/img/adv.png" class="img-fluid rounded-start" alt="Card title">
          </a>
        </div>
        <div class="col">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="nav-link"><strong>Продам гараж</strong></a>
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit eum aut commodi dolores
              praesentium fugiat! Maxime perspiciatis iste, voluptas tenetur voluptatem at beatae, aliquid
              libero odit ab accusamus tempore assumenda.
              Hic asperiores pariatur recusandae sapiente doloremque illo laudantium placeat sed fugit!
              Dolorem nulla quaerat doloremque odit impedit unde esse dolorum tenetur quos error! Iure
              quas, illo expedita sed suscipit ullam.
              Illo quam odio, quas laborum natus error doloremque totam maiores dolorum fugit aliquam, sit
              numquam impedit praesentium facilis amet perspiciatis facere rem magnam consectetur, nobis
              est. Qui quod fuga illum.
            </p>
            <span>Автор: "username"</span>
            <p class="card-text"><small class="text-muted">Размещено: "дата"</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer style="padding: 100px; min-height: 300px;" class="bg-primary">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">Добавьте</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">сюда<span
                class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">что</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">хотите</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">например</a>
              <a class="dropdown-item" href="#">ссылки на социальные сети</a>
            </div>
          </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
          <input class="form-control me-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </footer>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>