{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <title>{% block title %} Index {% endblock %}</title>
</head>

<body class="bg-black">

<ul class="nav nav-pills sticky-top bg-white nav-fill">
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_1 %}{% endblock %}" aria-current="page" href="{% url 'main-page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_2 %}{% endblock %}" href="{% url 'top-sellers' %}">
        <span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_3 %}{% endblock %}" href="{% url 'advertisement-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  {% if not  user.is_authenticated %}
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_4 %}{% endblock %}" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_5 %}{% endblock %}" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  {% else %}
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_6 %}{% endblock %}" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_7 %}{% endblock %}" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
  {% endif %}
</ul>



{% block content %}
{% endblock %}

<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Информация о сайте
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Краткая информация о данном сайте ;)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <p>Сайт написан на фреймворке Django и стилизацией от Bootstrap.</p>
              <p>Версия сайта 1.4.4</p>
              <p>Разработчика и все ссылки вы можете найти, нажав на 'ссылки'.</p>
              <strong>Спасибо, что пользуетесь моим сайтом! ❤️❤️❤️</strong>
              <p></p>
              <strong>ПРОСИМ ПРОЩЕНИЯ ЗА СНОС БАЗЫ ДАННЫХ!!! 🥲🥲🥲</strong>
              <p>Я устал фиксить эту калымагу ...</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Ссылки</a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownId">
            <a class="dropdown-item text-light btn-outline-primary" href="https://t.me/PIIZDEEC">Telegram</a>
            <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyV">GitHub</a>
            <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyV/Django">Repositories</a>
            <a class="dropdown-item text-light btn-outline-primary" href="{% url 'fake' %}">Fake</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2 bg-dark text-light btn-outline-primary" type="text" placeholder="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0 text-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</footer>

{% block scripts %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

</body>
</html>
