{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

  <title>{% block title %} Index {% endblock %}</title>
</head>

<body class="bg-black">

<ul class="nav nav-pills sticky-top bg-primary nav-fill">
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_1 %}{% endblock %}" aria-current="page" href="{% url 'main-page' %}">
      <span style="font-weight: bold;">Главная</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_2 %}{% endblock %}" href="{% url 'top-sellers' %}">
        <span style="font-weight: bold;">Топ продавцов</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_3 %}{% endblock %}" href="{% url 'advertisement-post' %}">
      <span style="font-weight: bold;">Разместить объявление</span>
    </a>
  </li>
  {% if not  user.is_authenticated %}
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_4 %}{% endblock %}" href="{% url 'register' %}">
      <span style="font-weight: bold;">Регистрация</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_5 %}{% endblock %}" href="{% url 'login' %}">
      <span style="font-weight: bold;">Войти</span>
    </a>
  </li>
  {% else %}
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_6 %}{% endblock %}" href="{% url 'profile' %}">
      <span style="font-weight: bold;">Профиль</span>
    </a>
  </li>
  <li class="nav-item bg-black">
    <a class="nav-link {% block active_7 %}{% endblock %}" href="{% url 'logout' %}">
      <span style="font-weight: bold;">Выйти</span>
    </a>
  </li>
  {% endif %}
</ul>



{% block content %}
{% endblock %}

<footer style="padding: 100px;" class="bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Информация о сайте
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-black bg-gradient text-light">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Здесь есть вся информация о данном сайте ;)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
              <p>Приветствую, дорогой пользователь! Всю информацию ты сможешь найти внизу ⮯</p>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item bg-primary text-light">
                    <h2 class="accordion-header">
                      <button class="accordion-button bg-dark text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <strong>О сайте ⮷</strong>
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <strong>
                            Краткая информация о сайте.
                          </strong>
                          <p>Это сайт, где любой желающий может разместить любое объявление, после прохождения регистрации. Пожалуйста, перед размещением посмотрите правила о модерации и относитесь с уважением :)!</p>
                          <p>Данный сайт написан на чистом энтузиазме и не имеет особого смысла.</p>
                          <p>Если вам понравился данный сайт, то можете написать об этом мне в telegram ;)</p>
                          <strong>Спасибо, что пользуетесь моим сайтом! ❤️❤️❤️</strong>
                          <p></p>
                          <strong>Просим прощения за возможные сносы базы данных !!! 🥲🥲🥲</strong>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item bg-primary text-light">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-dark text-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <strong>Разработчики и проект ⮷</strong>
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>
                            Разработчик LebedevSergeyV. Проект Web-Site in the Django.
                        </strong>
                          <p>Проект написан на фреймворке Django. Серверная (backend) часть написана на python. Интерфейс (frontend) написан с использованием bootstrap. Сайт размещен на собственном сервере, работающем на Debian.</p>
                          <p>Все ссылки на проект (GitHub), а также на разработчика (Telegram и Github) вы сможете увидеть внизу сайта, нажав на 'Ссылки'.</p>
                          <p>Сайт полностью имеет открытый исходный код для любого желающего на Github. Буду рад если посмотри и нажмете на 'Star'! Opensource ;)</p>
                          <p>Версия сайта стабильная 1.6.2</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item bg-primary text-light">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-dark text-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <strong>Модерация ⮷</strong>
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>
                            Правила о модерации размещения объявлений.
                        </strong>
                          <p>1. Не размещайте порнографию, нецензурные выражения, незаконную и нарушающую права иформацию, оскорбляющую других пользователей.</p>
                          <p>2. Относитесь к сайту и его пользователям с уважением.</p>
                          <p>3. На сайте каждый пользователь обладает свободой слова и в праве рамешать любую информацию, не нарушающую вышенаписанные требования.</p>
                          <p>4. Реклама и новостные материалы могут быть размещены без официального подтверждения.</p>
                          <p>5. За каждое размещённое объявление вы несёте ответсвенность самостоятельно. Необходимо размещать актуальную и действительную информацию. Размещение пользовательского контента допускается исключительно в информационных целях.</p>
                          <p>6. Регистрируясь на сайте и при каждом случае входа на сайт, вы гарантируете, что обладаете всеми правомочиями, необходимыми для заключения и исполнения требований и правил.</p>
                          <p>Все данные ограничения введены из-за человека, отвечающего за хостинг! :(</p>
                          <p>Разработчик придерживается свободы слова и будет отстаивать ваши объявления у хостера! :)</p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Ссылки</a>
          <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownId">
            <a class="dropdown-item text-light btn-outline-primary" href="https://t.me/LebedevSergeyVach">Telegram</a>
            <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyVach">GitHub</a>
            <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyVach/Django">Repositories</a>
          </div>
        </li>
      </ul>
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control me-sm-2 bg-dark bg-gradient text-light btn-outline-primary" type="text" placeholder="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 text-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</footer>

{% block scripts %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

</body>
</html>
