{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>{% block title %} Index {% endblock %}</title>
</head>

<body class="bg-black">

<ul class="nav nav-pills sticky-top bg-black nav-fill">

<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    ☰
</a>
<div class="offcanvas offcanvas-start bg-primary text-light" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasExampleLabel">
        Website Product Placement
    </h2>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
  </div>
  <div class="offcanvas-body bg-black bg-gradient">
    <div>
      Всю информацию о проекте Вы можете найти, нажав на 'Информация о сайте' снизу ⮷⮷⮷.
      Основная страница с размещенными объявлениями. Страница с продуктами и программным обеспечением для Microsoft Windows.
    </div>
    <div class="row mb-auto text-light">
        <div class="row mb-1">
            <div class="row-cols-1">
                <a class="nav-link" aria-current="page" href="{% url 'main-page' %}">
                    <button type="submit" class="btn btn-primary btn-outline-dark text-light">Main page Website</button>
                </a>
                <a class="nav-link" aria-current="page" href="{% url 'WindowsProducts' %}">
                    <button type="submit" class="btn btn-primary btn-outline-dark text-light">Products for Windows</button>
                </a>
                <span>
                    Страница проекта 'Products for Windows' находится в разработке и бета-тестировании.
                </span>
            </div>
        </div>
    </div>
      <p></p>
    <div class="dropdown mt-1">
      <button class="btn btn-primary btn-outline-dark text-light dropdown-toggle" aria-current="page" type="button" data-bs-toggle="dropdown">
        References to the project
      </button>
      <ul class="dropdown-menu bg-dark text-light btn-outline-dark dropdown-menu-dark" aria-current="dropdownId">
        <a class="dropdown-item text-light btn-outline-primary" href="https://t.me/LebedevSergeyVach">Telegram</a>
        <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyVach">GitHub</a>
        <a class="dropdown-item text-light btn-outline-primary" href="https://github.com/LebedevSergeyVach/Django">Repositories</a>
      </ul>
    </div>
      <p></p><span>Ссылки на проект (GitHub), а также на разработчика (Telegram и Github).</span>
  </div>
</div>

  <li class="nav-item bg-black">
    <a class="nav-link" aria-current="page" href="">
      <span style="font-weight: bold;">Windows Product</span>
    </a>
  </li>

</ul>


{% block content %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}

</body>
</html>
