<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/fontello.css">
  <title>Register</title>
</head>

<body>


  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="top-sellers.html"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="advertisement-post.html">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="register.html">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="login.html">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">
        <span style="font-weight: bold;">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
  </ul>
  <div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница регистрации пользователя</span>
      </div>
    </div>
  </div>
    <form method="post">
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Username</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Name</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Surname</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="text" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Password</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="password" class="form-control form-control-lg">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">Password confirmation</label>
          <div class="col-sm-4 offset-4 w-25">
            <input type="password" class="form-control form-control-lg">
            <div class="form-label bg-warning" style="margin: 10px 0px;">Ошибка (если будет)</div>
          </div>
        </div>
      </div>
      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
