{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block active_6 %}active{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-4">
        <span class="badge bg-primary">Ваш аккаунт: </span>
        <span class="badge bg-primary">{{ user }}</span>
          <p></p>
        <span class="badge bg-primary">Ваши контактные данные: </span>
        <span class="badge bg-primary">{{ email }}</span>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


<div class="col" style="margin: 50px;">
  <div class="display-6">
    <span class="badge bg-primary">Сейчас вы находитесь на сайте под ником "{{ user }}".</span>
  </div>
</div>

<script>console.log("hee") </script>

<p>{{ user.username }} {{ user.first_name}}  {{ user.last_name }} {{ user.email }}</p>

{% endblock %}
