{% extends 'base.html' %}
{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block active_6 %}active{% endblock %}

{% block content %}
<div class="bg-black">

<div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-5">
        <span class="badge bg-primary">Ваш аккаунт: </span>
          <span class="badge bg-white text-primary">{{ user.username }}</span>
          <p></p>
        <span class="badge bg-primary ">Ваша почта: </span>
          <span class="badge bg-white text-primary">{{ user.email }}</span>
          <p></p>
        <span class="badge bg-primary">Ваше имя: </span>
          <span class="badge bg-white text-primary">{{ user.first_name }}</span>
          <p></p>
        <span class="badge bg-primary">Ваша фамилия: </span>
         <span class="badge bg-white text-primary">{{ user.last_name }}</span>
          <p></p>
         <span class="badge bg-white text-primary">{{ user.last_login }} {{ user.date_joined }} {{ user.id }}</span>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>console.log("hee") </script>

{#<p>{{ user.username }} {{ user.first_name}}  {{ user.last_name }} {{ user.email }}</p>#}

{% endblock %}
</div>
