{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block active_6 %}active{% endblock %}

{% block content %}
<div class="bg-black">

<div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-5">
        <span class="badge bg-primary">Аккаунт: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.username }}</span>
        <span class="badge bg-primary">Id: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.id }}</span>
          <p></p>
          <h1>
              <span class="text-primary">⋆⁺｡˚⋆˙‧₊☽ ◯ ☾₊‧˙⋆˚｡⁺⋆</span>
          </h1>
        <span class="badge bg-primary ">Почта: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.email }}</span>
          <p></p>
          <h1>
              <span class="text-primary">⨯ . ⁺ ✦ ⊹ ꙳ ⁺ ‧ ⨯. ⁺ ✦ ⊹ . * ꙳ ✦ ⊹</span>
          </h1>
      {% if user.is_superuser %} {% else %}
        <span class="badge bg-primary">Имя: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.first_name }}</span>
        <span class="badge bg-primary">Фамилия: </span>
         <span class="badge bg-black bg-gradient text-primary">{{ user.last_name }}</span>
          <p></p>
          <h1>
              <span class="text-primary">⋆⁺｡˚⋆˙‧₊☾ ◯ ☽₊‧˙⋆˚｡⁺⋆</span>
          </h1>
      {% endif %}
         <span class="badge bg-primary">Последний вход: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.last_login }}</span>
          <p></p>
          <h1>
              <span class="text-primary"> ˚₊‧ • 𓆩⚝𓆪 ♡ 𓆩⚝𓆪 ♡ 𓆩⚝𓆪 ♡ 𓆩⚝𓆪 ♡ • ‎‧₊˚</span>
          </h1>
         <span class="badge bg-primary">Регистрация: </span>
          <span class="badge bg-black bg-gradient text-primary">{{ user.date_joined }}</span>
          <p></p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script>console.log("hee") </script>

{% endblock %}
</div>