{% extends 'base.html' %}
{% load static %}

{% block title %}
Регистрация
{% endblock %}

{% block active_4 %}active{% endblock %}

{% block content %}

  <div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Страница регистрации пользователя</span>
      </div>
    </div>
  </div>

    {{ form.non_field.errors }}
    <form method="post">{% csrf_token %}
      {% for field in form %}
      <div class="row mb-3">
        <div class="col">
          <label class="col-sm-4 col-form-label offset-4">{{ field.label }}</label>
        <div class="col-sm-4 offset-4 w-25">
            {{ field }}
        {% if field.errors %}
      <div class="form-label bg-warning" style="margin: 10px 0px;">{{ field.errors }}</div>
      {% endif %}
        </div>
      </div>
      </div>
      {% endfor %}

      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>

  </div>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
