{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить  объявление
{% endblock %}

{% block active_3 %}active{% endblock %}

{% block content %}

<div class="row">
  <div class="col" style="margin: 50px;">
    <div class="display-2">
      <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
    </div>
  </div>
</div>


<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row mb-auto offset-sm-4">
        <div class="col-6">
            {{ form.as_p }}
        </div>
    </div>
    <div class="row mb-auto offset-sm-4">
        <div class="col">
            <button type="submit" class="btn btn-success">Принять</button>
        </div>
    </div>
</form>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
