{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить объявление
{% endblock %}

{% block active_3 %}active{% endblock %}

{% block content %}
<div class="bg-black">

<div class="row mb-2 offset-sm-2">
  <div class="col" style="margin: 50px;">
    <div class="display-2">
      <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
    </div>
  </div>
</div>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <div class="row mb-auto offset-sm-4 text-light">
        <div class="col-6">
            {{ form.as_p }}
        </div>
    </div>
    <div class="row mb-3 offset-sm-5">
        <div class="row-cols-4">
            <button type="submit" class="btn btn-primary btn-outline-dark text-light">Принять</button>
        </div>
    </div>
</form>

<div class="container">
  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-6">
          <span class="badge bg-black bg-gradient text-primary">Соблюдайте правила модерации, просто нажмите на 'Информация о сайте' 🥹</span>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
</div>