{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ advertisement.title }}
{% endblock %}

{% block active_1 %}active{% endblock %}

{% block content %}
<div class="bg-black">

<div class="row">
  <div class="container" style="margin: 50px;">
    <div class="display-2 bg-black">
      <span class="badge bg-primary">Объявление пользователя</span>
        <p></p>
      <span class="badge bg-primary">{{ user }}</span>
    </div>
  </div>
</div>

  <div class="col offset-2">
    <div class="card mb-2 bg-dark" style="max-width: 1200px; margin-top: 20px;">
      <div class="row g-0">
        <div class="col-md-5">
        <div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% if advertisement.image_1 %} {{ advertisement.image_1.url }} {% else %} {% static 'img/404-sorry-1.gif' %} {% endif %} " class="img-fluid rounded-start" alt="Card title">
            </div>
            <div class="carousel-item">
              <img src="{% if advertisement.image_2 %} {{ advertisement.image_2.url }} {% else %} {% static 'img/404-sorry-1.gif' %} {% endif %} " class="img-fluid rounded-start" alt="Card title">
            </div>
            <div class="carousel-item">
              <img src="{% if advertisement.image_3 %} {{ advertisement.image_3.url }} {% else %} {% static 'img/404-sorry-1.gif' %} {% endif %} " class="img-fluid rounded-start" alt="Card title">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
        </div>
        </div>
        <div class="col">
          <div class="card-body">
            <h3 class="card-title">
              <strong class="badge bg-primary">{{ advertisement.title }} </strong>
            </h3>
            <p class="card-text text-light nav-link">
              {{ advertisement.description }}
            </p>
              <span class="card-text text-light">
                  Цена: <p>{{ advertisement.price }} ₽</p>
              </span>
              <span class="card-text text-light">
                  Аукцион: {% if adv.auction %} ✅ {% else %} ❌ {% endif %}
              </span>
                <h6 class="card-title">
                  <ul class="navbar-nav me-auto mt-auto mt-lg-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle btn-outline-dark" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Контакты</a>
                        <div class="dropdown-menu dropdown-menu-dark text-light" aria-labelledby="dropdownId">
                        <strong class="dropdown-item">
                          {% if advertisement.user.is_superuser %} admin website {% elif advertisement.user.email %} {{ advertisement.user.email }} {% else %} None email {% endif %}
                        </strong>
                        <strong class="dropdown-item">
                          {% if advertisement.user.is_superuser %} admin website {% elif advertisement.user.contact %} {{ advertisement.user.contact }} {% else %} None contact {% endif %}
                        </strong>
                      </div>
                    </li>
                  </ul>
                </h6>
              <p class="card-text"><small class="text-muted">
                Размещено: {{ advertisement.created_at }}
            </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<p style="height: 45px"></p>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
</div>