{% extends 'base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block active_1 %}active{% endblock %}

{% block content %}
<div class="bg-black">
    <div id="carouselExampleControls" class="carousel slide bg-primary" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/carousel/RTX-4090.jpg' %}" width="" height="600" class="mx-auto d-block w-33" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel/asus1.png' %}" width="" height="600" class="mx-auto d-block w-33" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carousel/AK-74.jpg' %}" width="" height="600" class="mx-auto d-block w-33" alt="...">
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>

    <div class="container" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">В центре внимания</span>
      </div>
    </div>

    <div class="container bg-black">

      <div class="row">
        <ul class="nav nav-pills">
          <li class="nav-item bg-black bg-gradient">
            <a class="nav-link active bg-primary" aria-current="page" href="{% url 'main-page' %}">Проверенные продавцы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Новинки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Избранное</a>
          </li>
        </ul>
        <form class="row g-3" method="get">
          <div class="col-auto w-50">
            <input  name="query"  value="{% if title %}{{ title }}{% endif %}" type="text" class="form-control bg-dark text-light btn-outline-primary">
          </div>
          <div class="col-auto">
              <button type="submit" class="btn btn-primary bg-gradient mb-3 btn-outline-dark text-light">Найти</button>
          </div>
        </form>
      </div>
      <div class="bg-black">
      {% for adv in advertisements %}
        <div class="card mb-2 bg-black bg-gradient p-3" style="max-width: 1200px; margin-top: 20px;">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="{{ adv.get_absolute_url }}" class="nav-link">
                <img src="{% if adv.image_1 %}  {{ adv.image_1.url }} {% else %} {% static 'img/404-not-found.jpg' %} {% endif %} " class="img-fluid rounded-start" alt="Card title">
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">
    {#              <a href="{{ adv.get_absolute_url }}" class="nav-link"><strong>{{ adv.title }} </strong></a>#}
                  <strong class="badge bg-primary">{{ adv.title }} </strong>
                </h4>
                <a href="{{ adv.get_absolute_url }}" class="nav-link">
                  <strong class="card-text text-primary">
                    {{ adv.description }}
                  </strong>
                  <h6 class="card-title">
                    <a href="{{ adv.get_absolute_url }}" class="nav-link"><span class="text-primary">Цена: {{ adv.price }} ₽</span></a>
                  </h6>
                  <h6>
                    <span class="text-light">Автор: {{ adv.user }}</span>
                  </h6>
                  <p class="card-text"><small class="text-muted">Размещено: {{ adv.created_at }} </small></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
</div>